# Definido sempre no arquivo raiz do projeto
root = true

# Em qual tipo de arquivo será aplicado
[*]
# Define o estilo de indentação
indent_style = space
# Define o tamanho da indentação
indent_size = 2
# Define o tipo de fim de linha
end_of_line = lf
# Define o tipo de codificação de caracteres
charset = utf-8
# Remove espaços em branco no final das linhas
trim_trailing_whitespace = true
# Adiciona uma nova linha no final dos arquivos
insert_final_newline = true
